@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* CSS Reset
-------------*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: 0.5;
    font-family: 'Poppins', sans-serif;
}

/* Formatações gerais
----------------------*/
body {
    background: #FF7979;
}

img {
    width: 1440px;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/BG-LandingPage.png);
    background-size: cover;
}

/* Formatando textos
---------------------*/
.texto-principal {
    justify-content: center;
    align-items: center;
    width: 525px;
    
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
    color: #FFFFFF;
}

h4 {padding: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.267857px;
    color: #FFFFFF;
    cursor: pointer;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

/* Formatando botão do topo
----------------------------*/
.btn-roxo {
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background: #5E54A4;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
}

/* Formatando o formulário
---------------------------*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 15px;
}

#btn-verde {
    padding: 7px;
    background: #38CC8B;
    cursor: pointer;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
}

 .btn-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.termos {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    color: #BAB7D4;
}

/* Formatando Inputs
---------------------*/
.inputs {
    display: flex;
    flex-direction: column;
}

.nome{
    padding: 4px 12px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.sobrenome{
    padding: 4px 12px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    mix-blend-mode: normal;
    opacity: 0.75;

}

.email{
    padding: 4px 12px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.senha{
    padding: 4px 12px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    mix-blend-mode: normal;
    opacity: 0.75;
}

/* Estilizando Formulário no estado ativo
------------------------------------------*/
.inputs > span {
    display: none
}

.error {
    border: 2px solid #FF7979;
}

span.error-text {
    display: inline;
    width: 100%;
    text-align: right;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #FF7979;
}